<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title></title>-->
<!--</head>-->
<!--<body>-->
<!--<div>-->
<!--    <th:block th:each="show : ${show1}">-->
<!--        <h1 th:text="${show}"></h1>-->
<!--    </th:block>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<body>

<table border="1" >
    <tr>
        <th>count</th>
        <th>Car</th>
    </tr>
    <tr th:each="show,state :${show1}">
        <td th:utext="${state.count}">count</td>
        <td th:utext="${show}">Car</td>

    </tr>
</table>



</body>
</html>
